# Segurança - NUNCA subir arquivos de ambiente
.env
.env.local

# Java e Compilação
*.class
*.jar
*.war
*.ear
target/
build/
.gradle/
bin/

# IDEs (VS Code, IntelliJ, Eclipse)
.settings/
.project
.classpath
.factorypath
.idea/
*.iml
*.iws
.vscode/

# Sistema
.DS_Store
Thumbs.db
